<h2>Transaction</h2>
<div class="form">
  <h4>Add new transaction</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="disabledTextInput">Description</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
    </div>
    <div class="form-group col-md-4">
      <label for="disabledSelect">Amount</label>
      <input type="number" class="form-control"/>
    </div>
    
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="disabledSelect">Gender</label>
      <input type="text" class="form-control"/>
    </div> 
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="disabledSelect">Registration Date</label>
      <input type="datetime-local" class="form-control"/>
    </div>w
    <div class="form-group col-md-4">
      <label for="disabledSelect">Email</label>
      <input type="email" class="form-control"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="disabledSelect">Phone number</label>
      <input type="tel" class="form-control">
    </div>
  </div>
  <div class="btnForm">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-danger" style="margin-left: 5px;">Cancel</button>
  </div>
</div>
<div class="form">
</div>

<div class="cardBody">
  <div class="table">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>
