<h2>Transaction</h2>
<div class="cardBody" *ngIf="!showTemplate">
  <h5 class="title">Transactions</h5>
  <button class="btn btn-info btnAdd" (click)="showAddTemplate()">New Transaction</button>
  <div class="table">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <th>{{transaction.description}}</th>
          <td>{{transaction.amount}}</td>
          <td>{{transaction.date}}</td>
          <td>
            <a class="btnTable"><i class="fa fa-pencil" aria-hidden="true" (click)="showUpdateTemplate(transaction.idTransaction)"></i></a>
          </td>
          <td>
            <a class="btnTable" style="padding-left: .8rem;"><i class="fa fa-trash" aria-hidden="true" (click)="removeTransaction(transaction.idTransaction)"></i></a>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>

<div class="form" *ngIf="showTemplate">
  <h5>Add new transaction</h5>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Description</label>
      <input type="text" class="form-control" [(ngModel)]="transaction.description">
    </div>
    <div class="form-group col-md-4">
      <label>Amount</label>
      <input type="number" class="form-control" [(ngModel)]="transaction.amount" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Type</label>
      <select class="form-control" [(ngModel)]="transaction.type">
        <option value="1">Expense</option>
        <option value="2">Income</option>
      </select>
    </div> 
    <div class="form-group col-md-4">
      <label>Date</label>
      <input type="datetime-local" class="form-control" [(ngModel)]="transaction.date"/>
    </div> 
  </div>
  <div class="btnForm">
    <button type="submit" class="btn btn-primary" (click)="insertNewTransaction()">Save</button>
    <button type="submit" class="btn btn-danger" style="margin-left: 5px;" (click)="closeTemplate()">Cancel</button>
  </div>
</div>