.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .card {
    display: flex;
    width: 25rem;
    height: 10rem;
    border-radius: .8rem;
    box-shadow:  0 4px 8px 0 rgba(78, 78, 78, 0.19), 0 6px 20px 0 rgba(78, 78, 78, 0.19);

    .cardHeader {
      text-align: start;
      padding: 1rem 2rem;
    }

    .card-footer-balance {
      text-align: center;
      color: rgb(46, 248, 46);
    }

    .card-footer-expenses {
      text-align: center;
      color: rgb(255, 0, 0);
    }

    .cardBody {
      text-align: center;
    }
  }
}
.cardFooter {
  background-color: #f4f7fa;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .cardGraphic {
    background-color: #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 35rem;
    border-radius: .8rem;
    box-shadow:  0 4px 8px 0 rgba(78, 78, 78, 0.19), 0 6px 20px 0 rgba(78, 78, 78, 0.19);
    .graphic{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5rem;
      #MyChart {
        width: 37rem;
      }
    }
  }

  .cardTransactions {
    background-color: #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 35rem;
    border-radius: .8rem;
    box-shadow:  0 5px 8px 0 rgba(78, 78, 78, 0.19), 0 6px 20px 0 rgba(78, 78, 78, 0.19);
    .cardBody {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 2rem;
    }
  }
  .cardHeader {
    text-align: start;
    padding: 1rem 2rem;
  }
}
