<h2>Dashboard</h2>

<div class="cards">
  <div class="card">
    <div class="card-header">
      <p>Current Balance</p>
    </div>
    <div class="card-body">
      <h1>$2222,00</h1>
    </div>
    <div class="card-footer-balance">
      <span><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> 22%</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Total Income
    </div>
    <div class="card-body">
      <h1>$4000,00</h1>
    </div>
    <div class="card-footer-balance">
      <span><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> 10%</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <p>Total Expenses</p>
    </div>
    <div class="card-body">
      <h1>$3000,00</h1>  
    </div>
    <div class="card-footer-expenses">
      <span><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> 22%</span>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-graphic">
      <div class="card-header">
        <p>Transactions from the last 12 months</p>
      </div>
      <div class="graphic">
        <div class="chart-container">
          <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>
      </div>
    </div>
    <div class="card-transactions">
      <div class="card-header">
        <p>Last Transactions</p>
      </div>
    </div>
  </div>
</div>
.